{% extends 'base.html.twig' %}

{% block title %}
	{{ contributor.name }}
	Profil
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row row-cols-1">
			<div class="col my-3 d-flex justify-content-between">
				{% include "component/_toast.html.twig" %}
				<a class="btn btn-outline-warning add-link link-dark" href="{{ path('contributor_edit', {id: contributor.id}) }}">Modify</a>
				<form method="POST" action="{{ path('contributor_delete', {'id': contributor.id}) }}" onsubmit="return confirm('Are you sure ?');">
					<input type="hidden" name="_token" value="{{ csrf_token('_delete' ~ contributor.id) }}">
					<button class="delete-project-button btn btn-outline-danger text-dark">Delete</button>
				</form>
			</div>
			<div class=" col bg-white border border-dark d-flex flex-row align-items-center justify-content-between align-content-center p-1 p-md-2 p-lg-4 my-2 mb-5 shadow">
				<div class="container-fluid">
					<div class="row row-cols-2">
						<div class="d-flex flex-column">
							<h1 class="project-title align-self-center m-0">
								<b>Name</b>
							</h1>
							<p class="font-link align-self-center">{{ contributor.name }}</p>
						</div>
						<div class="d-flex flex-column">
							<h1 class="project-title align-self-center m-0">
								<b>Name in Github</b>
							</h1>
							<a class="font-link align-self-center" href="{{ contributor.githubAccount }}">{{ contributor.githubName }}</a>
						</div>
					</div>
					<div class="col d-flex flex-column mb-4 ">
						<button class="btn btn-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#projectCollapse" aria-expanded="false" aria-controls="projectPrCollapse">
							List of Projects
						</button>
						<div class="collapse" id="projectCollapse">
							<div class="card card-body">
								<table class="table">
									<thead>
										<tr class="font-text">
											<th>Project Name</th>
											<th>URL</th>
											<th>Created at</th>
										</tr>
									</thead>
									<tbody>
										{% for project in projects %}
											<tr class="font-link">
												<td>
													<a href="{{ path('project_show', {id: project.id}) }}">{{ project.name }}</a>
												</td>
												<td>
													<a href="{{ project.githubLink }}">Github</a>
												</td>
												<td>
													{{ project.createdAt | date('d-m-Y') }}
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col d-flex flex-column mb-4 ">
						<button class="btn btn-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#listPrCollapse" aria-expanded="false" aria-controls="listPrCollapse">
							List of PR
						</button>
						<div class="collapse" id="listPrCollapse">
							<div class="card card-body">
								<table class="table">
									<thead>
										<tr class="font-text">
											<th>Pull Request Name</th>
											<th>Project</th>
											<th>URL</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										{% for pullRequest in pullRequests %}
											<tr class="font-link">
												<td>
													<a href="{{ path('pull_request_show', {id: pullRequest.id}) }}">{{ pullRequest.name }}</a>
												</td>
												<td>
													<a href="{{ path('project_show', {id: pullRequest.project.id}) }}">{{ pullRequest.project.name }}</a>
												</td>
												<td>
													<a href="{{ pullRequest.url }}">View github</a>
												</td>
												<td>
													{% if pullRequest.status == 'open' %}
														<i class="bi bi-circle-fill text-success"></i>
													{% elseif pullRequest.status == 'closed' %}
														<i class="bi bi-circle-fill text-danger"></i>
													{% endif %}
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
					{% for note in notes %}
						<div class="d-flex flex-column">
							<div class="col bg-white border rounded border-info shadow-lg d-flex flex-row align-items-center justify-content-between align-content-center p-1 p-md-2 p-lg-4 my-2 m-1">
								<p class="font-link align-self-start">{{ note.content }}</p>
								<form class="col d-flex flex-column mb-4" method="POST" action="{{ path('contributor_note_delete', {'id': note.id}) }}" onsubmit="return confirm('Are you sure ?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.id) }}">
									<button class="delete-note-button btn btn-outline-danger text-dark align-self-end" >
										<i class="bi bi-x-circle-fill"></i>
									</button>
								</form>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col d-flex flex-column mb-4">
				<h2 class="align-self-center">Add a note</h2>
				{{ form_start(noteForm) }}
				{{ form_row(noteForm.content) }}
				<button class="btn btn-outline-primary shadow" type="submit">Save</button>
				{{ form_end(noteForm) }}
			</div>
		</div>
	</div>
{% endblock %}
