<nav class="navbar col-12 pt-2 row-cols-1 p-0">
	<div class="d-flex flex-row justify-content-around">
		<img class="navbar-logo col-4 ps-2 img-fluid" src="{{ asset('build/images/logo/logo.svg') }}" alt="Is git logo with eye patch">
		<div class="col">
			<div class="row justify-content-around">
				<h1 class="navbar-title col m-0 ps-2">PR Tracker</h1>
				{% if app.user %}
					<a class="nav-link col-4 pe-3 text-end align-items-center" href="{{ path('logout') }}">Logout</a>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="nav nav-tabs nav-justified text-center justify-content-around mb-0">
		<li class="nav-item" role="presentation">
			<a class="nav-link navbar-link link-opacity-75 col {{ app.request.pathInfo == path('project_index') ? 'active' : '' }}" href="{{ path('project_index') }}">Projects</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link navbar-link link-opacity-75 col {{ app.request.pathInfo == path('contributor_index') ? 'active' : '' }}" href="{{ path('contributor_index') }}">Contributors</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link navbar-link link-opacity-75 col {{ app.request.pathInfo == path('pull_request_index') ? 'active' : '' }}" href="{{ path('pull_request_index') }}">PR</a>
		</li>
	</div>
</nav>
